@model IEnumerable<FinalProje.Models.Uyeler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeTc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeTc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAdres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UyeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UyeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UyeId })
        </td>
    </tr>
}

</table>
