@model FinalProje.Models.garantiBilgisi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>garantiBilgisi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.garantiSüresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.garantiSüresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muzik.aletAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muzik.aletAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.garantiId }) |
 
</p>
