@model FinalProje.Models.StokTakip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StokTakip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stokAdeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stokAdeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muzik.aletAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muzik.aletAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-default" /> |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
    }
</div>
