@model FinalProje.Models.StokTakip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StokTakip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stokAdeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stokAdeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muzik.aletAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muzik.aletAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.stokId }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
