@model IEnumerable<FinalProje.Models.StokTakip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stokAdeti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muzik.aletAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stokAdeti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muzik.aletAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.stokId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.stokId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.stokId })
        </td>
    </tr>
}

</table>
