@model FinalProje.Models.UserProfile

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    body {
        background-image: url('/Content/webfonts/K1.jpg');
        background-repeat: repeat;
    }
    .orta {
        margin-top: 15px;
        background: #333;
    }

    .orta-sol {
        float: left;
        width: 200px;
    }


    .orta-sag {
        float: left;
        margin: 15px;
        width: 470px;
        color: #bbb;
    }
  

    #deneme2 {
        width: 300px;
        height: 300px;
        background-color: oldlace;
        margin-top:180px;
        margin-left:500px;
        
    }

    </style >


    <html >
    <head >
   
    <title > Login</title >
    </head >
    <body >
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
        
        <div id="deneme2" class="image-div-content,orta-sag">
            <h4 style="text-align:center;"> Giriş Yapınız</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin:20px">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin:3px">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:20px">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin:3px">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:10px">
                <div class="col-md-offset-2 col-md-10" style="margin:10px">
                    <input type="submit" value="Giriş" class="btn btn-default" />
                </div>
            </div>

            <div style="margin:10px">
                <div style="margin:5px">
                    <label>İsim: melisa</label>

                </div>
                <div>
                    <label>Şifre: 123456</label>

                </div>
            </div>
        </div>
      

                }
</body >
    </html >
